#contenedor {
    /* Rejilla de paginacion */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    /*Formato*/
    border: 1px solid black;
}

